/* imported font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* general styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    color: #060c3e;
    background: #f3f3fd;
}

h1 {
    font-size: 70px;
}

h3 {
    font-size: 24px;
}

p {
    line-height: 25.6px;
}

a {
    text-decoration: none;
    color: #060c3e;
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

button {
    background: #060c3e;
    color: #fff;
    padding: 20px 50px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}


/* ############# Header Section Styling ##########*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 8% 2%;
    /* background: #fff; */
}

header button {
    padding: 14px 28px;
}

header img {
    width: 110px;
}

.navbar {
    display: flex;
    gap: 0 50px;
}


/* ########### Section 1 Styling ########## */
.section1 {
    display: flex;
    justify-content: space-between;
    padding: 2% 18% 2% 8%;
}

.heroImg, .heroSection {
    width: 44%;
    position: relative;
}

.heroImg img {
    width: 140px;
    position: absolute;
    top: 100px;
    left: 20px;
}

.heroImg .people {
    width: 450px;
    border-radius: 10px 120px;
    left: 70px;
    top: 0;
    z-index: 1;
}

.section1 p {
    margin: 4% 0;
}

.section1 h3 {
    margin: 10% 0 5% 0;
}
